<li class="grid-item">
    <a href="{{ product.url }}" class="product product_rect" data-price="{{ product.price | money_without_currency }}">
        <div class="imagery" id="{{product.id}}">
            <img class="bottom lazy" data-src="{{ product.images[2] | product_img_url: 'large' }}" alt="{{ product.title }}" />
        
            <img class="top lazy" data-src="{{ product.images[0] | product_img_url: 'large' }}" alt="{{ product.title }}" />
            
        </div>
        <div class="meta">
            <h3>{{ product.title }}</h3>
                {% assign variant = product.variants.first %}
                {% if variant.inventory_quantity <= 0 and variant.available and variant.inventory_management != '' %}
                    <span class="price" itemprop="price">{{ product.price | money  | remove: '.00' }}</span>
                {% elsif product.available != true %}
                    <span class="price soldout" itemprop="price">Sold out</span>
                {% elsif product.price < product.compare_at_price %}
                    <span class="price" itemprop="price">{{ product.price | money | remove: '.00' }}</span>
                    <span class="price original"> {{product.compare_at_price | money | remove: '.00' }}</span>
          		{% else %}
                    <span class="price" itemprop="price">{{ product.price | money | remove: '.00' }}</span>
                {% endif %}
                {% if variant.inventory_quantity < 4 and variant.inventory_quantity > 0 %}
                    <span class="lowstock">Only {{ variant.inventory_quantity }} left!</span>
                {% endif %}
    {% if product.metafields.product_swatches.swatch_collection_id %}
            <span class="colors">more colors available!</span>
    {% endif %}
            {% if product.tags contains 'excluded' %}
                <span class="excluded">excluded from promotion</span>
            {% endif %}
            {% if product.tags contains 'promo' %}
                <span class="included">Included in promo</span>
            {% endif %}
		</div>
	</a>
</li>