<li class="grid-item">
    <a href="{{ product.url }}" class="product product_rect" data-price="{{ product.price | money_without_currency }}">
        <div class="imagery" id="{{product.id}}">
            <img class="bottom" src="{{ product.images[2] | product_img_url: 'large' }}" alt="{{ product.title }}" />
        
            <img class="top" src="{{ product.images[0] | product_img_url: 'large' }}" alt="{{ product.title }}" />
            
        </div>
        <div class="meta">
            <h3>{{ product.title }}</h3>
                {% assign variant = product.variants.first %}
                {% if product.tags contains 'soldout' %}
                    <span class="price soldout" itemprop="price">Sold out</span>
                {% else %}
                    {% if variant.inventory_quantity < 0 and variant.available and variant.inventory_management != '' %}
                        <div class="cst_discount_price_div"><span class="money price" itemprop="price" data-product-id="{{ product.id }}">{{ product.price | money | remove: '.00' }}</span></div>
                    {% elsif product.available != true %}
                        <span class="price soldout" itemprop="price">Sold out</span>
                    {% elsif variant.price < variant.compare_at_price %}
                        <span class="price" itemprop="price">{{ variant.price | money | remove: '.00' }}</span>
                        <span class="price original"> {{variant.compare_at_price | money | remove: '.00' }}</span>
                    {% else %}
                        <div class="cst_discount_price_div"><span class="money price" itemprop="price" data-product-id="{{ product.id }}">{{ product.price | money | remove: '.00' }}</span></div>
                    {% endif %}
                    {% if variant.inventory_quantity < 4 and variant.inventory_quantity > 0 %}
                        <span class="lowstock">Only {{ variant.inventory_quantity }} left!</span>
                    {% endif %}
                {% endif %}
                {% if product.metafields.product_swatches.swatch_collection_id %}
                        <span class="colors">more colors available!</span>
                {% endif %}
            {% if product.tags contains 'excluded' %}
                <span class="excluded">excluded from promotion</span>
            {% endif %}
            {% if product.tags contains 'promo' %}
                <span class="included">Included in promo</span>
            {% endif %}
		</div>
	</a>
</li>