<ul id="social">
<li><a title="Pin it!" id="pinterest" href="https://pinterest.com/pin/create/button/?url=http&#58;&#47;&#47;kellywynne.com{{ product.url }}&amp;media={{ product.featured_image | product_img_url: 'medium' }}" target="_blank"><i class="fa fa-pinterest-p"></i></a>
</li>
<li><a title="Share on Facebook!" href="https://www.facebook.com/sharer/sharer.php?u={{ product.url }}" target="_blank"><i class="fa fa-facebook"></i></a>
</li>
<li><a title="Tweet this!" href="https://twitter.com/home?status={{ product.title }} via http&#58;&#47;&#47;kellywynne.com{{ product.url }}" target="_blank"><i class="fa fa-twitter"></i></a>
</li>
<li><a title="Email to a friend!" href="mailto:?&amp;subject=Something you'll love!&amp;body=Check out the {{ product.title }} at http&#58;&#47;&#47;kellywynne.com{{ product.url }}" target="_blank"><i class="fa fa-envelope-o"></i></a>
</li>
</ul>