
<div class="content flex">
  <div class="image dark-{{section.settings.dark_image}}">
    <img src="{{ section.settings.image | img_url: '1024x' }}">
  </div>
  <div class="description">
    <div class="info">
      <h3 class="title">{{section.settings.title}}</h3>
      {{ section.settings.description }}
      {% if section.settings.button_title != blank and section.settings.button_link != blank %}
        <a href="{{section.settings.button_link}}" class="btn btn-small">{{section.settings.button_title}}</a>
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Image text overlay",
  "class": "image-text-overlay-section",
  "settings": [
    {
      "type": "header",
      "content": "Banner Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "checkbox",
      "id": "dark_image",
      "label": "Dark image status"
    },
    {
      "type": "header",
      "content": "Description Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "button_title",
      "label": "Buttton title"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ]
}
{% endschema %}