<div class="cart-template">
    <section id="cart-header" class="lede grey">
        <div class="container center-xy">
            <h1>Your Cart</h1>
        </div>
    </section>
    <section class="container cart_wrap">
        <script class="cartFlagX"></script>
        {% if cart.item_count > 0 %}
        {% assign upsell = false %}
        {% for item in cart.items %}
            {% for tag in item.product.tags %}
                {% assign product_recommend_str = "" %}
                {% if tag contains 'upsell' %}
                    {% assign product_recommend_str = tag | remove: 'upsell:' %}
                {% endif %}
                {% if product_recommend_str != blank %}
                    {% assign recommend_products = recommend_products | append: product_recommend_str | append: ',' %}
                {% endif %}
            {% endfor %}
            {% if item.properties['upsell-porduct'] %}
                {% assign upsell = true %}
            {% endif %}
        {% endfor %}
            <form action="/cart" method="post">
                <div class="content">
                    <div class="item-content">
                        <ul class="grid one">
                            {% for item in cart.items %}
                            <script type="application/json" class="bold-product-json">{{ item.product | json }}</script>
                                {% if recommend_products contains item.product.handle %}
                                    {% assign recommend_products = recommend_products | remove: item.product.handle %}
                                {% endif %}
                                {% if forloop.first %}
                                    {% assign collection_url = item.product.collections.first.url %}
                                    {% if collection_url == '/collections/frontpage' or collection_url == '' %}
                                        {% assign collection_url = '/collections/all' %}
                                    {% endif %}
                                {% endif %}
                
                
                                <li class="grid_item" style="{% render "product-personalizer-helper" ,item:item,pplr: "hide-pricing-item-row" %}" {% render "product-personalizer-helper" ,forloop:forloop,item:item,pplr: "cart-row-data" %}>
                                
                                {% assign option_index = 0 %}
                                    {% assign found_option = false %}
                                    {% assign index = 0 %}
                                    {% assign found_image = false %}
                
                                    {% for option in item.product.options %}
                                    {% if found_option == false %}
                                        {% assign downcased_option = option | downcase %}
                                        {% if downcased_option contains 'color' or downcased_option contains 'title' or downcased_option contains 'colour' or downcased_option contains 'style' %}
                                        {% assign option_index = forloop.index0 %}
                                        {% assign found_option = true %}
                                        {% endif %}
                                    {% endif %}
                                    {% endfor %}
                
                                    {% if found_option %}
                                    {% for image in item.product.images %}
                                    {% unless found_image %}
                                        {% if image.alt == item.variant.options[option_index] %}
                                        {% assign index = forloop.index0 %}
                                        {% assign found_image = true %}
                                        {% endif %}
                                    {% endunless %}
                                    {% endfor %}
                                    {% endif %}
                
                                <a class="product-image" href="{{ item.product.url | within: collections.all }}">
                                    <img src="{{ item.product.images[index] | product_img_url: 'compact' }}" alt="{{ item.variant.title | escape }}" />
                                </a>
                                <div class="info">
                                    {% comment %} <a href="/cart/change?line={{ forloop.index }}&quantity=0" class="button light tiny remove">{% include 'icon.close' %}</a> {% endcomment %}
                                    <p class="item-name">
                                        <a class="product-title" href="{{ item.product.url | within: collections.all }}">{{ item.variant.title }}</a>
                                    </p>
                    
                                    <p class="personalization">
                                        {% unless item.properties['upsell-porduct'] %}
                                            {% render "product-personalizer-helper" ,item:item %}
                                        {% endunless %}
                                    </p>
                    
                                    <div class="qty">
                                        <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" class="quantity" />
                                        <a href="/cart/change?line={{ forloop.index }}&quantity=0" class="remove">Remove</a>
                                    </div>
                    
                                    <div class="total">
                                        <span class="money" data-line-total data-line-index="{{ forloop.index0 }}" data-product-id="{{ item.product.id }}">{{ item.line_price | money }}</span>
                                    </div>
                                </div>
                                
                
                                </li>
                
                            {% endfor %}
                            {% unless upsell %}
                                {% assign recommend_products_arr = recommend_products | split: ',' | uniq %}
                                {% assign status = true %}
                                {% for r_product in recommend_products_arr %}
                                    {% assign r_product_str = r_product | remove: ' ' %}
                                    {% assign product = all_products[r_product_str] %}
            
                                    {% if product != blank and status %}
                                        {% if product.available and status %}
                                        <script type="application/json" class="bold-product-json">{{ product | json }}</script>
                                            <li class="grid_item signle_product" style="{% render "product-personalizer-helper" ,item:item,pplr: "hide-pricing-item-row" %}" {% render "product-personalizer-helper" ,forloop:forloop,item:item,pplr: "cart-row-data" %}>
                                                {% assign option_index = 0 %}
                                                {% assign found_option = false %}
                                                {% assign index = 0 %}
                                                {% assign found_image = false %}
                            
                                                {% for option in item.product.options %}
                                                {% if found_option == false %}
                                                    {% assign downcased_option = option | downcase %}
                                                    {% if downcased_option contains 'color' or downcased_option contains 'title' or downcased_option contains 'colour' or downcased_option contains 'style' %}
                                                    {% assign option_index = forloop.index0 %}
                                                    {% assign found_option = true %}
                                                    {% endif %}
                                                {% endif %}
                                                {% endfor %}
                            
                                                {% if found_option %}
                                                {% for image in item.product.images %}
                                                {% unless found_image %}
                                                    {% if image.alt == item.variant.options[option_index] %}
                                                    {% assign index = forloop.index0 %}
                                                    {% assign found_image = true %}
                                                    {% endif %}
                                                {% endunless %}
                                                {% endfor %}
                                                {% endif %}
                                
                                                <a class="product-image" href="{{ product.url }}">
                                                    <img src="{{ product.featured_image | product_img_url: '1120x1410', format: 'pjpg' }}" alt='{{ product.title }}'  />
                                                </a>
                                                <div class="info">
                                                    <span class="cst_upsell_span">You may like this too</span>
                                                    <p class="item-name">
                                                        <a class="product-title" href="{{ product.url }}">{{ product.title  }}</a>
                                                    </p>
                                    
                                                    <p class="personalization">{% render "product-personalizer-helper" ,item:product %}</p>
                                    
                                                    <div class="qty">
                                                        <input type="number" value="1" class="quantity" />
                                                    </div>
            
                                                    <div class="total cst_discount_price_div">
                                                        <span class="money price" data-product-id="{{ product.id }}" itemprop="price">{{ product.price | money }}</span>
                                                    </div>
                                                    <a class="btn btn-small add_cart_button" data-id="{{product.selected_or_first_available_variant.id}}" data-quantity="1">ADD</a>
                                                </div>
                                            </li>
                                            {% assign status = false %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}          
                            {% endunless %}
                                                 
                        </ul>
                        <a href="/collections/all-handbags" class="btn btn-grey btn-small shop">Continue shopping</a>
                        <div class="message sale">
                            <p>Please note: no additional discount codes or promotions may be applied to sale items or bundles. Codes cannot be combined.</p>
                        </div>
                    </div>
                    
                    <div id="subtotal">
                        <div class="subtotal">
                            <p class="title"><span>Subtotal:</span></p>
                            <p><span style="display:none" class="tdf-cart-total-flag"></span> 
                                <span class="money" data-cart-total>{{ cart.total_price | money }}</span>
                            </p>
                        </div>
                        
                        <div class="message cst_cart_msgbox">
                            <h3 class="cst_cart_msgbox_title">Is this order a gift?</h3>
                            <textarea class="cst_cart_msgbox_content" name="note" id="note" rows="5" cols="60" placeholder="Leave a message for your gift recipient below and we'll print it on the invoice and remove the price!" data-cart-notes>{{ cart.note }}</textarea>
                            {% assign g_status = true %}
                            {% for line_items in cart.items %}
                                {% if line_items.product.handle == 'gift-wrap' %}
                                    {% assign gift_line_id = forloop.index %}
                                {% endif %}
                                {% for tag in line_items.product.tags %}
                                    {% if tag contains 'gift:' and g_status %}
                                        {% assign gift_sku = tag | replace: 'gift:', '' %}
                                        {% assign g_status = false %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            {% assign gift = all_products['gift-wrap'] %}
                            {% for g_variant in gift.variants %}
                                <input type="hidden" class="g_variant_{{g_variant.sku}}" value="{{g_variant.id}}">
                                {% if g_variant.sku == gift_sku %}
                                    {% assign g_variant_id = g_variant.id %}
                                {% endif %}
                            {% endfor %}

                            <p class="gift_wrap_status cart-page {%if gift_line_id != blank%}active{%endif%}" {%if g_variant_id == blank %}style="display: none;"{%endif%} data-line-id="{{gift_line_id}}" data-product-id="{{g_variant_id}}"> Add Gift Wrap - $ 5.00 </p>
                        </div>
                
                        <div class="proceed">
                            <input type="submit" name="update" value="APPLY" class="btn btn-black update"/>
                            <button type="submit" name="checkout" class="btn btn-green checkout">Checkout</button>
                        </div>
                        <div class="freeshipping-message">
                            {% include 'icon.freeshipping' %}
                            <p>Free Shipping and Free<br>Returns on orders $100+</p>
                        </div>
                    </div>
                </div>
            </form>
        {% else %}
        
        <div class="container cart_wrap empty">
        
            <h2>Your cart is empty!<br/>Fill me up!</h2>
            <a href="/collections/new-arrivals" class="button teal center-x">Shop our new arrivals &rarr;</a>
            <h4>Need help deciding?</h4>
            <p>Chat with one of our stylists by using the chat icon below!</p>
        
        </div>
    </section>
    
    
    {% endif %}
</div>

