<section class="lede blue">
    <div class="container">
        <h1>A collection of Press we&rsquo;ve received</h1>
        <p>Click a thumbnail to see a larger image</p>
    </div>
</section>

{% if page.content != "" %}
<section class="container content {{ page.handle }}">
      {{ page.content }}
</section>
{% endif %}

<div id="press" class="container">
    <ul class="grid one">
        <li>
            <img src="{{ 'press-awards-austin-woman.jpg' | asset_url }}" alt="Awards">
        </li>

        <li>
            <img src="{{ 'press-awards.jpg' | asset_url }}" alt="Awards">
        </li>
    </ul>

    <ul class="grid four">

        <li class="grid-item press">
            <a class="lightbox-link" data-featherlight="image" data-featherlight="image" href="{{ 'press-20180910-Austin-Woman_inside.jpg' | asset_url }}">
                <img src="{{ 'press-20180910-Austin-Woman_cover.jpg' | asset_url }}" alt="Invitation Oxford">
            </a>
        </li>

        <li class="grid-item press">
            <a target="_blank" href="http://www.austinmonthly.com/AM/August-2018/Best-of-ATX-2018-Shopping-Services/">
                <img src="{{ 'press-20180731-Austin-Monthly_inside-august-400px.jpg' | asset_url }}" alt="Invitation Oxford">
            </a>
        </li>

        <li class="grid-item press">
            <a class="lightbox-link" data-featherlight="image" href="{{ 'press-20180731-Founding-Austin_inside.jpg' | asset_url }}">
                <img src="{{ 'press-20180731-Founding-Austin_cover.jpg' | asset_url }}" alt="Invitation Oxford">
            </a>
        </li>

        <li class="grid-item press">
            <a class="lightbox-link" data-featherlight="image" href="{{ 'press-20171120-tribeza-article.jpg' | asset_url }}">
                <img src="{{ 'press-20171120-tribeza-cover.jpg' | asset_url }}" alt="Invitation Oxford">
            </a>
        </li>

        <li class="grid-item press">
            <a target="_blank" href="http://www.southernliving.com/fashion-beauty/southern-fashion/most-stylish-men-women#alexandra-macon">
                <img src="{{ 'press-20171120-southern-living-cover.jpg' | asset_url }}" alt="Invitation Oxford">
            </a>
        </li>

        <li class="grid-item press">
            <a class="lightbox-link" data-featherlight="image" href="{{ 'press-2017-0928-AustinMonthly-inside.jpg' | asset_url }}">
                <img src="{{ 'press-2017-0928-AustinMonthly-cover.jpg' | asset_url }}" alt="Invitation Oxford">
            </a>
        </li>

        <li class="grid-item press">
            <a class="lightbox-link" data-featherlight="image" href="{{ 'press-20170912-Invitation-Oxford--inside.jpg' | asset_url }}">
                <img src="{{ 'press-20170912-Invitation-Oxford--cover.jpg' | asset_url }}" alt="Invitation Oxford">
            </a>
        </li>

        <li class="grid-item press">
            <a class="lightbox-link" data-featherlight="image" href="{{ 'press-20170908-Austin-Monthly-September-2017--feature.jpeg' | asset_url }}">
                <img src="{{ 'press-20170908-Austin-Monthly-September-2017-400x518.jpeg' | asset_url }}" alt="Austin Monthly">
            </a>
        </li>

        <li class="grid-item press">
            <a class="lightbox-link" data-featherlight="image" href="{{ 'press-20170908-Austin-Woman-Sept-article.jpeg' | asset_url }}">
                <img src="{{ 'press-20170908-Austin-Woman-Sept-400x518.jpeg' | asset_url }}" alt="Austin Woman">
            </a>
        </li>

        <li class="grid-item press">
            <a class="lightbox-link" data-featherlight="image" href="{{ 'press-20170524-Austin-Monthly-May-article.jpg' | asset_url }}">
                <img src="{{ 'press-20170524-Austin-Monthly-May-Cover-400x518.jpg' | asset_url }}" alt="Austin Monthly">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://austin.culturemap.com/news/innovation/09-20-16-top-texans-under-30-kelly-wynne-ferguson-handbags-profile/" target="_blank">
                <img src="{{ 'press-20170106-culture-map-top-texans-218x282.jpg' | asset_url }}" alt="Austin Culture Map Top Texans Under 30">
            </a>
        </li>

        <li class="grid-item press">
            <a class="lightbox-link" data-featherlight="image" href="{{ 'press-20161008-Austin-Way-article.jpg' | asset_url }}">
                <img src="{{ 'press-20161008-Austin-Way-218x282.jpg' | asset_url }}" alt="Austin Way">
            </a>
        </li>

        <li class="grid-item press">
            <a class="lightbox-link" data-featherlight="image" href="{{ 'press-20161008-Click-article.jpg' | asset_url }}">
                <img src="{{ 'press-20161008-Click-218x282.jpg' | asset_url }}" alt="Click">
            </a>
        </li>

        <li class="grid-item press">
            <a class="lightbox-link" data-featherlight="image" href="{{ 'press-20160611-Austin-Way-article.jpg' | asset_url }}">
                <img src="{{ 'press-20160611-Austin-Way-218x282.jpg' | asset_url }}" alt="Austin Way">
            </a>
        </li>

        <li class="grid-item press">
            <a class="lightbox-link" data-featherlight="image" href="{{ 'press-20160304-Austin-Way-February-article.jpg' | asset_url }}">
                <img src="{{ 'press-20160304-Austin-Way-February-Cover-218x282.jpg' | asset_url }}" alt="Austin Way">
            </a>
        </li>

        <li class="grid-item press">
            <a class="lightbox-link" data-featherlight="image" href="{{ 'press-20160115-Society-Diaries-article.jpg' | asset_url }}">
                <img src="{{ 'press-20160115-Society-Diaries-218x282.jpg' | asset_url }}" alt="Society Diaries">
            </a>
        </li>

        <li class="grid-item press">
            <a class="lightbox-link" data-featherlight="image" href="{{ 'press-20160114-Southern-Living-article.jpg' | asset_url }}">
                <img src="{{ 'press-20160114-Southern-Living-218x282.jpg' | asset_url }}" alt="Southern Living">
            </a>
        </li>

        <li class="grid-item press">
            <a class="lightbox-link" data-featherlight="image" href="{{ 'press-20150126-D-Magazine-article.jpg' | asset_url }}">
                <img src="{{ 'press-20150126-D-Magazine-218x282.jpg' | asset_url }}" alt="D Magazine">
            </a>
        </li>

        <li class="grid-item press">
            <a class="lightbox-link" data-featherlight="image" href="{{ 'press-20150122-Audrey-Magazine-article.jpg' | asset_url }}">
                <img src="{{ 'press-20150122-Audrey-Magazine-218x282.jpg' | asset_url }}" alt="Audrey Magazine">
            </a>
        </li>

        <li class="grid-item press">
            <a class="lightbox-link" data-featherlight="image" href="{{ 'press-20150122-Austin-Monthly-article.jpg' | asset_url }}">
                <img src="{{ 'press-20150122-Austin-Monthly-218x282.jpg' | asset_url }}" alt="Austin Monthly">
            </a>
        </li>

        <li class="grid-item press">
            <a class="lightbox-link" data-featherlight="image" href="{{ 'press-20150122-Austin-Woman-article.jpg' | asset_url }}">
                <img src="{{ 'press-20150122-Austin-Woman-218x282.jpg' | asset_url }}" alt="Austin Woman">
            </a>
        </li>

        <li class="grid-item press">
            <a class="lightbox-link" data-featherlight="image" href="{{ 'press-20141119-SouthernLiving-article.jpg' | asset_url }}">
                <img src="{{ 'press-20141119-SouthernLiving-218x282.jpg' | asset_url }}" alt="Southern Living Magazine">
            </a>
        </li>

        <li class="grid-item press">
            <a class="lightbox-link" data-featherlight="image" href="{{ 'press-20141119-mississippi-article.jpg' | asset_url }}">
                <img src="{{ 'press-20141119-mississippi-218x282.jpg' | asset_url }}" alt="Mississippi Magazine">
            </a>
        </li>

        <li class="grid-item press">
            <a class="lightbox-link" data-featherlight="image" href="{{ 'press-20141119-DeltaMagazine-article.jpg' | asset_url }}" rel="lightbox">
                <img src="{{ 'press-20141119-DeltaMagazine-218x282.jpg' | asset_url }}" alt="Delta Magazine">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.atxfashion.com/get-in-a-holidaze-with-kelly-wynne-handbags/" target="_blank">
                <img src="{{ 'press-20141119-atxfashion-218x282.jpg' | asset_url }}" alt="ATX Fashion Magazine">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.accessoriesmagazine.com/102061/trend-finder-metallic-leather-2#.VFp4S-fQxvd" target="_blank">
                <img src="{{ 'press-20141119-accessories-magazine-218x282.jpg' | asset_url }}" alt="Accessories Magazine">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.austinwomanmagazine.com/shining-gold-kelly-wynne" target="_blank">
                <img src="{{ 'press-8-14-AustinWomanMagazine.jpg' | asset_url }}" alt="Austin Woman Magazine">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.brightontheday.com/18812/tie-dye-assymetrical-dress" target="_blank">
                <img src="{{ 'press-8-14-BrightonTheDay.jpg' | asset_url }}" alt="Brighton The Day – Tie Dye Asymmetrical Dress ">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.lifewithemilyblog.com/2014/07/kelly-wynne-risky-biz-wristlet.html" target="_blank">
                <img src="{{ 'press-8-14-LifeWithEmily.jpg' | asset_url }}" alt="Life With Emily – Keepin' It Casual  ">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.thedarlingdetail.com/little-yellow-dress/" target="_blank">
                <img src="{{ 'press-8-14-TheDarlingDetail.jpg' | asset_url }}" alt="The Darling Detail – The Little Yellow Dress  ">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://hauteofftherack.com/just-around-the-riverbend/" target="_blank">
                <img src="{{ 'press-8-14-HauteOffTheRack.jpg' | asset_url }}" alt="Haute Off The Rack – Just Around The Riverbend   ">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://austin.thescoutguide.com/" target="_blank">
                <img src="{{ 'press-8-14-TheScoutGuide.jpg' | asset_url }}" alt="The Scout Guide – Austin ">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.alexandradieck.com/lexiconofstyle/atx-ready-nyc/" target="_blank">
                <img src="{{ 'press-8-14-Lexicon.jpg' | asset_url }}" alt="Lexicon of Style – ATX Ready in NYC   ">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.pressreader.com/search?query=kelly%20wynne" target="_blank">
                <img src="{{ 'press-statesman_thumb.jpg' | asset_url }}" alt="Austin American Statesman">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.lunchpailsandlipstick.com/2014/06/summer-white-dress.html" target="_blank">
                <img src="{{ 'press-White_Dress.jpg' | asset_url }}" alt="Lunchpails and Lipstick">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.hellofashionblog.com/2013/10/knee-high.html" target="_blank">
                <img src="{{ 'press-Hello_Fashion_KNEE_HIGH.jpg' | asset_url }}" alt="Hello Fashion Blog   ">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.brightontheday.com/17502/ted-baker-florals" target="_blank">
                <img src="{{ 'press-Brighton-The-Day3-522.jpg' | asset_url }}" alt="Brighton the Day">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.happilygrey.com/personal-style/acid-wash-a-giveaway/" target="_blank">
                <img src="{{ 'press-HappilyGrey-522.jpg' | asset_url }}" alt="Happily Grey">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.brightontheday.com/17379/party-skirt-outfit-2" target="_blank">
                <img src="{{ 'press-Brighton-The-Day4-522.jpg' | asset_url }}" alt="Brighton the Day">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.southerncurlsandpearls.com/2014/05/beachin-it.html" target="_blank">
                <img src="{{ 'press-SouthernCurlsPearls-522.jpg' | asset_url }}" alt="Southern Curls and Pearls">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://thedailysouth.southernliving.com/2014/05/07/southern-made-gifts-perfect-for-your-moms-personality/" target="_blank">
                <img src="{{ 'press-SouthernCulture.png' | asset_url }}" alt="Southern Culture">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.bizjournals.com/austin/gallery/29321?r=http%3A%2F%2Fwww.bizjournals.com%2Faustin%2Fnews%2F2014%2F05%2F05%2Faustin-fashion-week-crowns-local-fashionistas.html" target="_blank">
                <img src="{{ 'press-AustinBusinessJournal.jpg' | asset_url }}" alt="Austin Business Journal">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://austin.culturemap.com/news/society/05-05-14-austin-fashion-awards-winners/?utm_source=dailydigest&utm_medium=email&utm_campaign=cmpgn-2014-5-6" target="_blank">
                <img src="{{ 'press-CultureMapAustin.jpg' | asset_url }}" alt="Culture Map Austin">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://thecwaustin.com/2014/05/15/designer-kelly-wynne-white-at-austin-fashion-week/" target="_blank">
                <img src="{{ 'press-TheCWAustin-522.jpg' | asset_url }}" alt="The CW Austin">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.tribeza.com/category/keywords/kelly-wynne-handbags" target="_blank">
                <img src="{{ 'press-TRIBEZAAustinMagazine.jpg' | asset_url }}" alt="Tribeza">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.theteacherdiva.com/tag/kelly-wynne" target="_blank">
                <img src="{{ 'press-TheTeacherDiva.jpg' | asset_url }}" alt="The Teacher Diva">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://thefoxandshe.com/kelly-white/" target="_blank">
                <img src="{{ 'press-TheFoxandShe.jpg' | asset_url }}" alt="The Fox and She">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.thedarlingdetail.com/kelly-wynne-fiesta/" target="_blank">
                <img src="{{ 'press-TheDarlingDetail.jpg' | asset_url }}" alt="The Darling Detail">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.southerncurlsandpearls.com/2014/04/nautical.html " target="_blank">
                <img src="{{ 'press-SouthernCurls.jpg' | asset_url }}" alt="Southern Curls and Pearls  ">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://socialsouthmag.com/style/a-wynne-ing-design-kelly-wynne-handbags/ " target="_blank">
                <img src="{{ 'press-SocialSouth.jpg' | asset_url }}" alt="Social South Magazine ">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.mlovesmblog.com/2014/04/shades-of-pink.html" target="_blank">
                <img src="{{ 'press-MLovesM.jpg' | asset_url }}" alt="M Loves M ">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.kendieveryday.com/2013/10/faux-real.html" target="_blank">
                <img src="{{ 'press-KendiEveryday.jpg' | asset_url }}" alt="Kendi Everyday ">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.kendieveryday.com/2014/02/cest-la-vie.html" target="_blank">
                <img src="{{ 'press-KendiEveryday-2.jpg' | asset_url }}" alt="Kendi Everyday ">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.invitationoxford.com/?p=986" target="_blank">
                <img src="{{ 'press-InvitationOxford.jpg' | asset_url }}" alt="Invitation Oxford ">
            </a>
        </li>

        <li class="grid-item press">
            <a href="https://hauteofftherack.com/wbrz-news-2-a-new-color-to-make-your-spring-pop-kendra-scott-spring-2014-launches-today/" target="_blank">
                <img src="{{ 'press-HauteOffTheRack.jpg' | asset_url }}" alt="Haute Off The Rack ">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.bestofneworleans.com/gambit/playing-to-wynne/Content?oid=2301980" target="_blank">
                <img src="{{ 'press-Gambit.jpg' | asset_url }}" alt="Gambit">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.brightontheday.com/16214/burgundy-metallic" target="_blank">
                <img src="{{ 'press-BrightonTheDay2.jpg' | asset_url }}" alt="Brighton The Day">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.brightontheday.com/16142/navy-white-polka-dots" target="_blank">
                <img src="{{ 'press-BrightonTheDay.jpg' | asset_url }}" alt="Brighton The Day">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://austinway.com/style/articles/meet-the-winners-of-austin-fashion-week-austin-fashion-awards" target="_blank">
                <img src="{{ 'press-AustinWayMagazine.jpg' | asset_url }}" alt="Austin Way">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.austinmonthly.com/AM/October-2013/Clutch-Move/" target="_blank">
                <img src="{{ 'press-AustinMonthlyOctober-2013.jpg' | asset_url }}" alt="Austin Monthly">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://apieceoftoastblog.com/2013/12/18/poppin-bottles/" target="_blank">
                <img src="{{ 'press-APIECEofTOAST.jpg' | asset_url }}" alt="A Piece Of Toast ">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://alonestarstateofsouthern.com/2014/05/02/happy-happy-happy/" target="_blank">
                <img src="{{ 'press-alonestarstateofsouthern.jpg' | asset_url }}" alt="A Lonestar State Of Southern">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://dallas.culturemap.com/news/fashion/04-29-13-kelly-wynne-white-handbags/" target="_blank">
                <img src="{{ 'press-culturemap_4-13.jpg' | asset_url }}" alt="Kelly Wynne on Culture Map">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://shoptalk.dmagazine.com/2013/04/08/kelly-wynne-handbags-make-their-dallas-debut/" target="_blank">
                <img src="{{ 'press-dmagazine_4-13.jpg' | asset_url }}" alt="Kelly Wynne on D Magazine">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://thestylescribe.com/2013/04/01/a-week-with-kelly-wynne-giveaway/" target="_blank">
                <img src="{{ 'press-thestylescribe_4-13.jpg' | asset_url }}" alt="Kelly Wynne on The Style Scribe">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.dailycandy.com/dallas/article/146643/Kelly-Wynne-Handbags" target="_blank">
                <img src="{{ 'press-dailycandy_4-13.jpg' | asset_url }}" alt="Kelly Wynne on Daily Candy">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.tribeza.com/magazine_content/kelly-wynne-handbags-launch-party" target="_blank">
                <img src="{{ 'press-tribeza_4-13.jpg' | asset_url }}" alt="Kelly Wynne on Tribeza">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.purewow.com/entry_detail/dallas/5505/Blink-and-you-may-miss-these-handbags.htm" target="_blank">
                <img src="{{ 'press-purewow_4-13.jpg' | asset_url }}" alt="Kelly Wynne on Pure Wow">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://gotidbits.com/austin/wynne-some-lose-some" target="_blank">
                <img src="{{ 'press-tidbitsaustin_5-13.jpg' | asset_url }}" alt="Kelly Wynne on Austin Tidbits">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://gotidbits.com/dallas/kelly-wynne" target="_blank">
                <img src="{{ 'press-tidbitsdallas_4-13.jpg' | asset_url }}" alt="Kelly Wynne on Dallas Tidbits">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://tech.sasaustin.org/alumniblog/2013/04/kelly-wynne-white-05-accessories-queen-launches-american-made-handbag-line/" target="_blank">
                <img src="{{ 'press-alumni_4-13.jpg' | asset_url }}" alt="Kelly Wynne on SAS Alumni Blog">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://luellajune.com/youre-invited-kelly-wynne-handbags-launch/" target="_blank">
                <img src="{{ 'press-luella_4-13.jpg' | asset_url }}" alt="Kelly Wynne on Luella & June">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://thestylescribe.com/2013/04/01/a-week-with-kelly-wynne-giveaway/" target="_blank">
                <img src="{{ 'press-thestylescribe_4-13.jpg' | asset_url }}" alt="Kelly Wynne on The Style Scribe">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.thecwaustin.com/dpp/style/heart-and-hard-work-make-design-dreams-a-reality" target="_blank">
                <img src="{{ 'press-cwaustin_4-13.jpg' | asset_url }}" alt="Kelly Wynne on CW Austin">
            </a>
        </li>

        <li class="grid-item press">
            <a href="http://www.dallaswardrobe.com/blog/tuesdays-trend-kelly-wynne-handbags/" target="_blank">
                <img src="{{ 'press-dallaswardrobe_4-13.jpg' | asset_url }}" alt="Kelly Wynne on The Style Scribe">
            </a>
        </li>
    </ul>

</div>

{% comment %} {% include 'banner.retailers' %} {% endcomment %}