<div itemscope itemtype="http://schema.org/Product">
  
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
    <meta itemprop="image" content="{{ product.images[0] | product_img_url: 'master' }}" />
	
        <section id="single_product" data-currentid="{{ product.id }}">
	   	
            <div class="container">

	   			<div id="single_photos" class="half{% if product.images.size > 6 %} overflow{% endif %}{% if product.images.size < 2 %} single{% endif %}"><!-- add if video class video -->

                    <ul id="product-images">
                        {% for image in product.images %}
                        {% unless image.attached_to_variant? %}
                        {% unless image == product.images[1] %}
                            <li class="" data-thumb="{{ image | product_img_url: '120x' }}">
                              <img src="{{ image | product_img_url: '1120x1410', format: 'pjpg' }}" alt='{{ product.title }}' />
                            </li>
                        {% endunless %}
                        {% endunless %}
                        {% endfor %}

                        {% comment %}
                            <video class="video-single" muted loop preload="metadata" playsinline>
                                <source src="{{ 'video-1k5.webm' | asset_url }}" type="video/webm">
                                <source src="{{ 'video-1k5.mp4' | asset_url }}" type="video/mp4">
                            </video>
                        </li>
                        {% endcomment %}

                    </ul>
	   			</div>
                
	   			<div id="single_info" class="half">

                    <header>
                        <h1 itemprop="name">{{ product.title }}</h1>
                        
                        <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" data-product-sku="{{ product.handle }}" style="display: inline-block;">{{ product.metafields.stamped.badge }}</span>

                        {% if product.price < product.compare_at_price %}

                        <p class="price sale" itemprop="price">
                            <span class="money" data-product-id="{{ product.id }}">{{ product.price | money | remove: '.00' }}</span>

                        <span class="original">{{product.compare_at_price | money | remove: '.00' }}</span></p>
                        
                        {% else %}
                                    
                            {% if product.price_min == product.price_max %}
	   							<p class="price" itemprop="price">
                                <span class="money" data-product-id="{{ product.id }}">{{ product.price | money | remove: '.00' }}</span>
                                </p>
	   						{% else %}
	   							<p class="price" itemprop="price">{{ product.price_min | money | remove: '.00' }} - {{ product.price_max | money | remove: '.00' }}</p>
	   						{% endif %}
                        
                        {% endif %}
                    </header>
                    
                
                    <!-- Swatches -->
                    {% if product.metafields.product_swatches.swatch_collection_id %}
                        {% include 'product-swatches' %}
                    {% endif %}                
                    
                    <!-- Selly bundles -->
                    <!--<noscript type="text/flag" class="tdfPlaceBundle"></noscript>-->
                    <!--<noscript type="text/flag" class="tdfPlaceBundle" data-offer-id="Your offer id"></noscript>-->
                    <!--<noscript type="text/flag" class="tdfPlaceBundle" data-offer-id="8690"></noscript>-->
            
                    <div class="accordion">

                        {{product.description}}

                    </div>                        

                </div>



                </div>
        </section>
        
    {% include 'banner.bundles' %}
    
</div>

<div class="reviews container">
<div id="stamped-main-widget" class="stamped-main-widget" data-widget-style="standard" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}">
    
        {{ product.metafields.stamped.reviews }}
    </div>
</div>

<!-- Related products -->
{% include 'promos.related' %}

<script>
$(document).ready(function () {

    /* Sliders */
    $('#product-images').lightSlider({
        {% if product.images.size > 1 %}gallery: true,{% endif %}
         {% if product.images.size < 2 %}pager: false,{% endif %}
        item: 1,
        mode: 'fade',
        thumbItem: 7,
        keyPress: true,
        thumbMargin: 0,
        slideMargin: 0,
        controls: false,
        adaptiveHeight: false,
        galleryMargin: 20,
        thumbMargin: 10,
        thumbItem: 0,
        vertical: false,
        onSliderLoad: function (el) {
            el.find('li').zoom({
                on: 'click',
                touch: false
        });

        setTimeout(function () {
            $('#single_photos').addClass('active');
        }, 100);

        /* Play video on click
        $("ul.lSGallery li:not(:last-child) a").on('click touchstart', function (e) {
        e.preventDefault();

        if ($("ul#product-images li.video video")[0].paused == true) {
            console.log("Video already paused");
        } else {
            $("ul#product-images li.video video")[0].pause();
            window.setTimeout(function() {
                $("ul#product-images li.video").toggleClass('playing');
            }, 400);
            console.log("Video pause");
        }
        });

        $("ul.lSGallery li:last-child a").on('click touchstart', function (e) {
        e.preventDefault();

        if ($("ul#product-images li.video video")[0].paused == false) {
            $("ul#product-images li.video video")[0].pause();
            $("ul#product-images li.video").toggleClass('playing');
            console.log("Video pause");
        } else {
            window.setTimeout(function() {
                $("ul#product-images li.video video")[0].play();
                $("ul#product-images li.video").toggleClass('playing');
            }, 200);
            console.log("Video play");
        }
        });

        $("ul#product-images li.video").on('click touchstart', function (e) {
        e.preventDefault();

        if ($("ul#product-images li.video video")[0].paused == false) {
            $("ul#product-images li.video video")[0].pause();
            $("ul#product-images li.video").toggleClass('playing');
            console.log("Video pause");
        } else {
            $("ul#product-images li.video video")[0].play();
            $("ul#product-images li.video").toggleClass('playing');
            console.log("Video play");
        }
        }); */
        }
    });
});
</script>{% render 'product_infox' %}